body {
    font-family: arial, verdana, sans-serif;
    font-size: 11pt;
}

.transaction-row-wrapper input {
    border: solid 1px transparent;
    background: transparent;
    padding: 4px;
    width: 100%;
    outline: none;
    color: #222;
    pointer-events: none;
}

.transaction-row-wrapper .transaction-button {
    visibility: hidden;
}

.edited-transaction input {
    border: solid 1px #888;
    background: white;
    padding: 4px;
    width: 100%;
    outline: none;
    color: #222;
    pointer-events: auto;
}

.edited-transaction .transaction-button {
    visibility: visible;
}

.transaction-input:focus {
    border-color: #555;
    background-color: #fefefe;
    width: 100%;
}

.transaction-row-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0.5em;
    border-top: 1px solid #777777;
    position: relative;
}

.transaction-row-wrapper:hover {
    background-color: #f4f6fa;
}

.transaction-row-wrapper div {
}

.transaction-header-wrapper {
    display: grid;
    grid-template-columns: 4fr 8fr;
    padding: 2px;
}

.transaction-entries-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.transaction-entries-wrapper > div {
    display: grid;
    grid-template-columns: 8fr 3fr 1fr;
    padding: 2px;
}

.entry-amount {
    text-align: right;
}

.transactions-table {
    margin: auto;
    width: 1260px;
}

.transactions-header {
    display: grid;
    grid-template-columns: 4fr 8fr 8fr 3fr 1fr;
}

.transactions-header > div {
    padding: 2px;
    background-color: #224466;
    color: #f6f6f6;
    font-family: arial, helvetica, sans-serif;
}

.transactions-amount-header {
    text-align: right;
}

.edited-transaction {
    background-color: #f4f6fa;
}

.transaction-buttons-wrapper {
    position: absolute;
    bottom: 2px;
    left: 2px;
}

.popup-message {
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 5px;
    background-color: #eeffee;
    border: solid 5px #44aa44;
    transition: all 2s;
    visibility: visible;
}

.error-message {
    border-color: #aa4444;
    background-color: #ffdddd;
}

.animated {
    -webkit-animation-duration: 1s;animation-duration: 1s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
 
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
 
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
