html, body {
    font-family: arial, verdana, sans-serif;
    font-size: 11pt;
    position: relative;
    height: 100%;
    background-color: #f8f8f8;
    color: #444444;
    padding-top: 4em;
}

.main-button {
    border: 0px;
    padding: 1em;
    margin: 1em;
    border-radius: 4px;
    transition: background-color 0.1s;
    background-color: #f5f5f5;
}

.main-button:hover {
    border: 0px;
    padding: 1em;
    margin: 1em;
    box-shadow: 0px 0px 4px #aaaaaa;
    background-color: #fcfcfc;
}

.main-button:active {
    background-color: #f0f0f0;
}


.main-text-input {
    border: 1px #cccccc solid;
    border-radius: 4px;
    padding: 0.5em;
    margin: 1em;
}

.main-text-input:hover {
    border: 1px #cccccc solid;
    border-radius: 4px;
    padding: 0.5em;
    margin: 1em;
}

.main-text-input:focus {
    border-color: #999999;
}


.transaction-input {
    border: solid 1px transparent;
    background: transparent;
    padding: 4px;
    width: 100%;
    outline: none;
    color: #222;
    pointer-events: none;
    font-size: 11pt;
    border-radius: 3px;
}

.edited-transaction .transaction-input {
    border: solid 1px #bbb;
    background: white;
    padding: 4px;
    width: 100%;
    outline: none;
    color: #222;
    pointer-events: auto;
}

.transaction-input:focus {
    border-color: #666;
}

.transaction-button {
    background: #ffffff;
    border: 1px solid #aaaaaa;
    padding: 4px 1em 4px 1em;
    font-size: 11pt;
    visibility: hidden;
    color: #444444;
    border-radius: 3px;
    margin: 0px 2px 0px 2px;
    transition: background-color 0.2s;
}

.transaction-button:hover {
    background-color: #bedbf4;
}

.edited-transaction .transaction-button {
    visibility: visible;
}


.transaction-header-wrapper {
    display: grid;
    grid-template-columns: 4fr 8fr;
    padding: 2px;
}
 
.transactions-header {
    display: grid;
    grid-template-columns: 4fr 8fr 8fr 3fr 1fr;
    position: relative;
    z-index: 998;
}

.transactions-amount-header {
    text-align: right;
}

.transactions-header > div {
    padding: 4px;
    background-color: #424242;
    color: #f6f6f6;
    font-size: 12pt;
}

.transaction-row-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #dddddd;
    position: relative;
    transition: all 0.25s;
}

.empty-transaction-row {
    vertical-align: middle;
    border: 0px;
    color: #888888;
    padding: 1em;
    text-align: center;
}

.transaction-row-wrapper:hover, .edited-transaction {
    box-shadow: 0px 0px 10px #cccccc;
}

.transaction-entries-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.transaction-entries-wrapper > div {
    display: grid;
    grid-template-columns: 8fr 3fr 1fr;
    padding: 2px;
}

.transaction-buttons-wrapper {
    display: inline-block;
    position: absolute;
    bottom: 0.5em;
    left: 2px;
}

.transaction-buttons-wrapper input {
    width: 100px;
}


.transactions-table {
    margin: auto;
    width: 990px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.accounts-wrapper > div:nth-child(odd) {
    background-color: #f3f3f3;
}

.account-depth-0 {
    font-weight: bold;
}

.account-row {
    font-size: 14pt;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.entry-amount {
    text-align: right;
}

#accounts_div {
    margin: auto;
    width: 460px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.popup-message {
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 5px;
    background-color: #eeffee;
    border: solid 5px #44aa44;
    transition: all 2s;
    visibility: visible;
}

.error-message {
    border-color: #aa4444;
    background-color: #ffdddd;
}

.animated {
    -webkit-animation-duration: 1s;animation-duration: 1s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
 
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
 
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

#login_div {
    border: 0px;
    width: 600px;
    margin: auto;
    position: relative;
    text-align: center;
    top: 10%;
}

#login_div div {
    padding: 1em;
}

#login_title_div {
    font-size: 14pt;
    color: #236ec4;
    position: relative;
}

#login_to_balance_div {
}

#main_content {
    width: 1000px;
    display: relative;
    margin: auto;
}

.nav-bar {
    width: 100%;
    height: 6em;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 16px #555;
    z-index: 999;
    background-color: #424242;
}
 
.nav-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 1000px;
    height: 100%;
    position: relative;
    margin: auto;
}

.nav-header {
    display: flex;
    justify-content: flex-end;
    height: 4em;
}

.nav-links {
    height: 2em;
}

.nav-link {
    margin-right: 2em;
    font-size: 13pt;
    color: #c9c9c9;
    text-decoration: none;
    transition: color 0.2s;
}

.nav-logo {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    opacity: 0.2;
    font-size: 30pt;
    font-weight: bold;
    font-style: oblique;
    pointer-events: none;
}

.nav-link:hover {
    text-decoration: underline;
    color: #fcfc62;
}

.link-selected {
    color: #fcfc62;
}

.has-error {
    border-color: red !important;
}

.rounded-button {
    border: 0px;
    color: #eeeeee;
    font-size: 12pt;
    border-radius: 20px;
    height: 40px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0.25em;
    transition: background-color 0.2s;
}

.color-black {
    background-color: #a3a3a3;
    color: #222;
}
.color-black:hover {
    background-color: #fcfc62;
}

.color-navy {
    background-color: #fcfc62;
    color: #444;
}
.color-navy:hover {
    background-color: #eaea60;
    color: #444;
}
.logout-button {
    width: 100px;
    margin-top: 0.5em;
}

.sub-window {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
