:root {
    --color-dark: #0e1428;
    --color-grey: #a3a3a3;
    --color-light: #faffea;
    --color-accent: #f0a202;
    --color-bg: #fcfcfc;
}

body {
    font-family: arial, verdana, sans-serif;
    font-size: 11pt;
    position: relative;
    background-color: var(--color-bg);
    color: var(--color-dark);
    padding-top: 7em;
}

.main-text-input {
    border: 1px var(--color-grey) solid;
    padding: 0.5em;
    margin: 0.25em;
}

.main-text-input:focus {
    border-color: var(--color-dark);
}

.transaction-input {
    border: solid 1px transparent;
    background: transparent;
    padding: 4px;
    width: 100%;
    outline: none;
    color: #222;
    pointer-events: none;
    font-size: 11pt;
    border-radius: 3px;
}

.edited-transaction .transaction-input {
    border-color: #ddd;
    background: #fff;
    pointer-events: auto;
}

.transaction-input:focus {
    border-color: #666;
}

.transaction-button {
    background: #ffffff;
    border: 1px solid #aaaaaa;
    padding: 4px 1em 4px 1em;
    font-size: 11pt;
    visibility: hidden;
    opacity: 0;
    color: var(--color-dark);
    border-radius: 3px;
    margin: 0px 2px 0px 2px;
    transition: all 0.2s;
}

.transaction-button:hover {
    background-color: var(--color-dark);
    color: #ccc;
}

.edited-transaction .transaction-button {
    visibility: visible;
    opacity: 1;
}

.transaction-header-wrapper {
    display: grid;
    grid-template-columns: 4fr 8fr;
    padding: 2px;
}
 
.transactions-header {
    display: grid;
    grid-template-columns: 4fr 8fr 8fr 3fr 1fr;
    position: relative;
    z-index: 998;
}

.transactions-amount-header {
    text-align: right;
}

.transactions-header > div {
    padding: 4px;
    background-color: #424242;
    color: #f6f6f6;
    font-size: 12pt;
}

.transaction-row-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #dddddd;
    position: relative;
    transition: all 0.25s;
}

@media (max-width: 640px) {
    .transaction-row-wrapper {
        grid-template-columns: 1fr;
        padding-bottom: 2.5em;
    }
    .transaction-header-wrapper {
        border-bottom: var(--color-grey) solid 1px;
    }
}

.empty-transaction-row {
    vertical-align: middle;
    border: 0px;
    color: #888888;
    padding: 1em;
    text-align: center;
}

.transaction-row-wrapper:hover, .edited-transaction {
    box-shadow: 0px 0px 10px #cccccc;
}

.transaction-entries-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.transaction-entries-wrapper > div {
    display: grid;
    grid-template-columns: 8fr 3fr 1fr;
    padding: 2px;
}

.transaction-buttons-wrapper {
    display: inline-block;
    position: absolute;
    bottom: 0.5em;
    left: 2px;
}

.transaction-buttons-wrapper input {
    width: 100px;
}


.transactions-table {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*
.accounts-wrapper > div:nth-child(odd) {
    background-color: #f8f8f8;
}
*/

.account-depth-0 {
    font-weight: bold;
    border-top: 1px solid #000;
    background-color: #eee;
}

.account-row {
    font-size: 14pt;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    display: grid;
    grid-template-columns: 7fr 1fr;
    border-top: 1px solid #bbb;
}

.entry-amount {
    text-align: right;
}

.popup-message {
    position: fixed;
    top: 1em;
    left: 0;
    right: 0;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 1em 0.5em 1em;
    background-color: var(--color-light);
    border-radius: 20px;
    transition: all 2s;
    visibility: visible;
    z-index: 1000;
}

.error-message {
    background-color: var(--color-accent);
    color: var(--color-dark);
}

.animated {
    -webkit-animation-duration: 1s;animation-duration: 1s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
 
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
 
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

#login_div {
    border: 0px;
    width: 500px;
    margin: auto;
    position: relative;
    text-align: center;
    top: 10%;
}

#login_div div {
    padding: 1em;
}

#login_title_div {
    font-size: 14pt;
    color: var(--color-dark);
    position: relative;
}

#login_to_balance_div {
    border-bottom: 1px solid var(--color-grey);
}

#main_content {
    max-width: 1200px;
    min-height: 800px;
    display: relative;
    padding-top: 3em;
    margin: auto;
}

.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 16px var(--color-dark);
    z-index: 999;
    background-color: var(--color-dark);
}

.tab-bar {
    height: 5px;
    width: 100%;
    background-color: var(--color-accent);
}
 
.nav-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    height: 100%;
    position: relative;
    margin: auto;
}

.nav-header {
    display: flex;
    justify-content: flex-end;
    height: 4em;
}

.nav-links {
    height: 2em;
}

.nav-sub-links {
    position: relative;
}

.nav-link {
    margin-right: 2em;
    font-size: 13pt;
    color: var(--color-grey);
    text-decoration: none;
    transition: color 0.2s;
}

.nav-logo {
    position: absolute;
    top: 0px;
    left: 0px;
    color: var(--color-light);
    opacity: 0.3;
    font-size: 30pt;
    font-weight: bold;
    font-style: oblique;
    pointer-events: none;
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--color-accent);
}

.link-selected {
    color: var(--color-accent);
}

.has-error {
    border-color: red !important;
}

.rounded-button {
    border: 0px;
    color: #eeeeee;
    font-size: 12pt;
    border-radius: 20px;
    height: 40px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0.25em;
    transition: background-color 0.2s;
    box-shadow: 0px 0px 4px var(--color-dark);
}


.color-black {
    background-color: var(--color-grey);
    box-shadow: 0px 0px 4px #000;
    color: #222;
}
.color-black:hover {
    background-color: var(--color-accent);
}
.color-navy {
    background-color: var(--color-accent);
    color: var(--color-dark);
}
.color-navy:hover {
    filter: brightness(0.95);
}

.color-light {
    background-color: var(--color-light);
    color: var(--color-dark);
}
.color-light:hover {
    filter: brightness(0.95);
}

.logout-button {
    width: 100px;
    margin-top: 0.5em;
}

.sub-window {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.filter-menu {
    text-align: center;
    background-color: var(--color-bg);
    box-shadow: 0px 0px 5px var(--color-grey);
}

.footer {
    margin-top: 10em;
    height: auto;
    padding-top: 2em;
    padding-bottom: 10em;
    text-align: center;
    background-color: var(--color-grey);
}

.tab-button {
    border: 0px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 11pt;
    height: 25px;
    margin-right: 0.25em;
    box-shadow: 0px 0px 0px;
}
