<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Personal Finance, Accounting">
        <meta name="author" content="Leszek Nowicki">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/index.css">
	<link rel="shortcut icon" href="static/favicon.ico">
    </head>
    <body>
        <div class="nav-container">
            <div class="navbar">
                <a class="float-left nav-link" id="balance-link" href="/balance" onclick="javascript:navigateTo('/balance');return false">Raports</a>
                <a class="float-left nav-link" id="transactions-link" href="/transactions" onclick="javascript:navigateTo('/transactions');return false">Transactions</a>
                <button class="rounded-button color-accent float-right" onclick="javascript:logout();">Logout</button>
            </div>
            <div class="subbar">
            </div>
        </div>
        <div id="main_content">
        </div>
        <footer class="footer">
            &copy; 2021 Leszek Nowicki
        </footer>
    </body>
    <script src="static/decimal.js"></script>
    <script src="static/index.js"></script>
    <script src="static/accounts.js"></script>
    <script src="static/transactions.js"></script>
    <script>initialize();</script>
</html>
