<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Personal Finance, Accounting">
        <meta name="author" content="Leszek Nowicki">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/index.css">
	<link rel="shortcut icon" href="static/favicon.ico">
    </head>
    <body>
        <div class="nav-bar">
            <div class="nav-container">
                <div class="nav-header">
                    <div class="nav-logo">nFinance</div>
                    <button class="rounded-button logout-button color-black" onclick="javascript:logout();">Logout</button>
                </div>
                <div class="nav-links">
                    <a class="nav-link" id="balance-link" href="/balance">Balance Sheet</a>
                    <a class="nav-link" id="transactions-link" href="/transactions">Transactions</a>
                </div>
                <div class="nav-sub-links">
                </div>
            </div>
            <div class="tab-bar">
            </div>
        </div>
        <div id="main_content">
        </div>
        <footer class="footer">
            &copy; 2021 Leszek Nowicki
        </footer>
    </body>
    <script src="static/decimal.js"></script>
    <script src="static/index.js"></script>
    <script src="static/accounts.js"></script>
    <script src="static/transactions.js"></script>
    <script>initialize();</script>
</html>
