<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Personal Finance, Accounting">
        <meta name="author" content="Leszek Nowicki">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/index.css">
        <link rel="shortcut icon" href="static/favicon.ico">
    </head>
    <body>
        <div class="nav-bar">
            <div class="nav-container">
                <div class="nav-header">
                    <div class="nav-logo">nFinance</div>
                    <button class="rounded-button logout-button color-black" onclick="javascript:logout();">Logout</button>
                </div>
                <div class="nav-links">
                    <a class="nav-link" id="balance-link" href="javascript:displayBalance();">Balance Sheet</a>
                    <a class="nav-link" id="transactions-link" href="javascript:displayTransactions();">Transactions</a>
                </div>
            </div>
        </div>
        <div id="main_content">
        </div>
    </body>
    <script src="static/index.js"></script>
    <script src="static/accounts.js"></script>
    <script src="static/transactions.js"></script>
    <script>initialize();</script>
</html>
