<html>
    <head>
        <link rel="stylesheet" href="static/index.css">
    </head>
    <body>
        <div id="login_div">
            <div id="login_title_div">
                <span>Load/Create new balance sheet</span>
            </div>
            <div id="login_to_balance_div">
                <input type="text" class="main-text-input" style="width: 90%" id="login_balance_id" /><br />
                <input type="button" class="rounded-button color-light" onclick="loadBalance()" value="Load existing balance sheet" />
            </div>
            <div id="create_balance_div">
                <input type="button" class="rounded-button color-navy" onclick="createBalance()" value="Create new balance sheet" />
            </div>
        </div>
    </body>
    <script src='static/login.js'></script>
</html>

